* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* left panel */

.left-panel {
    width: 400px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e5e7eb;
}

.logo-section {
    padding: 1.5rem;
    text-align: center;
}

.logo {
    width: 250px;
}

.search-box {
    padding: 0 1rem 1rem;
    position: relative;
}


.search-box input {
    width: 100%;
    padding: 0.8rem 1rem;
    padding-left: 3rem;
    border-radius: 2rem;
    border: 1px solid #d1d5db;
}


.search-box .icon {
    position: absolute;
    left: 1.7rem;          
    top: calc(50% - 1rem);
    width: 18px;
    height: 18px;
    opacity: 0.6;
    pointer-events: none;
}

.chat-tabs {
    display: flex;
    justify-content: space-around;
    padding: 0.8rem;
    background: #eff1f7;
    margin: 2rem;
    border-radius: 10px;
    
}

.tab {
    border: none;
    font-weight: 600;
    cursor: pointer;
    background: none;
}

.tab.active {
    color: #8b5cf6;
    background: none;
}

.chat-list {
    flex: 1;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    border-top: 1px solid #D9D9D9;
}

.chat-item:hover {
    background: #e5e7eb;
}

.chat-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 1rem;
}

.chat-info h4 {
    font-size: 0.95rem;
}

.chat-info p {
    font-size: 0.8rem;
    color: gray;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.button-icon {
    width: 22px;
    height: 22px;
    filter: brightness(0) invert(1);
}

.circle-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #8b5cf6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* right panel */

.chat-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden;
    background:
        linear-gradient(rgba(255, 255, 255, 0.8),
                        rgba(255, 255, 255, 0.8)),
        url('../assets/images/wallpaper1.jpg') no-repeat center center;
    background-size: cover;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    background-color: #fff;
}

.chat-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 1rem;
}

.back-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    width: 30px;
    opacity: 50%;
}

.last-seen{
    color: gray;
}
.chat-messages {
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: rgba(249, 250, 251, 0.2);;
}

.message {
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    word-wrap: break-word;

    display: inline-flex;
    flex-direction: column;
}

.message-text {
    line-height: 1.4;
}

.message-time {
    align-self: flex-end;
    font-size: 0.7rem;
    color: gray;
    margin-top: 4px;
    white-space: nowrap;
}

.message.sent {
    background: #fff;
    align-self: flex-end;
}

.message.received {
    align-self: flex-start;
    background: #fff;
}

.chat-input {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: none;
}

.input-row {
    display: flex;
    align-items: center;
}


.chat-input input {
    flex: 1;
    padding: 0.9rem 3rem 0.9rem 1rem;
    border-radius: 2rem;
    border: 1px solid #d1d5db;
}


.send-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0.4;
    margin-left: -45px;
}


.send-icon:hover {
    opacity: 0.6;
}


/* response */

@media (max-width: 900px) {

    .left-panel {
        width: 100%;
    }

    .chat-panel {
        display: none;
    }

    .chat-panel.active {
        display: flex;
    }

    .back-btn {
        display: block;
    }
}


/*centering the empty message*/
.empty-state {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:
        linear-gradient(rgba(255, 255, 255, 0.6),
                        rgba(255, 255, 255, 0.6)),
        url('../assets/images/chatBg.jpg') no-repeat center center;
    background-size: cover;
}

.chat-content {
    display: none;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

/*Fix for group message tag*/
.message-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: fit-content;
    max-width: 70%;
}

.sent-wrapper {
    align-self: flex-end;
}

.received-wrapper {
    align-self: flex-start;
}

.sender-name {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 4px;
    color: #555;
}


/*for modal*/

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: none;
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    background: white;
    padding: 2rem;
    border-radius: 20px;
    width: 350px;
    max-width: 90%;
    text-align: center;
    display: none;
    z-index: 1001;
    transition: 0.2s ease;
}

.modal.active {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

.modal-overlay.active {
    display: block;
}

.close-modal {
    position: absolute;
    top: 15px;
    left: 20px;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.modal-subtext {
    font-size: 14px;
    color: #777;
    margin-bottom: 1.5rem;
}


.input-wrapper {
    display: flex;
    align-items: center;
    background: #f3f3f3;
    padding: 10px 15px;
    border-radius: 30px;
    margin-bottom: 1.5rem;
}

.input-wrapper input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.input-icon {
    width: 18px;
    margin-right: 10px;
}


.primary-btn {
    background: #7b2ff7;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
}


.profile-large-avatar {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.last-seen-text {
    font-size: 14px;
    color: #777;
}

/*Replt to styles*/
#cancelReply {
    margin-left: 10px;
    cursor: pointer;
}

.reply-preview {
    background: #f3f3f3;
    border-left: 4px solid #8b5cf6;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 10px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply-preview button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    color: #555;
}

.reply-quote {
    background: #ececec;
    border-left: 3px solid #8b5cf6;
    padding: 4px 8px;
    margin-bottom: 6px;
    border-radius: 6px;
    font-size: 0.75rem;
    cursor: pointer;
}

.highlight-message {
    animation: highlightFlash 1s ease;
}

@keyframes highlightFlash {
    0% { background: #e9d5ff; }
    100% { background: inherit; }
}


/* unread tag */
.unread-badge {
    background: #8b5cf6;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
